body{
    background: #F3F5F7;
}
.navbar{
    min-height: 95px;
    border: 1px solid #E9ECEE;
}
.nav-tabs{
    min-height: 25px;
    border-bottom: 2px solid #E9ECEE;
    margin-bottom: 25px;
}
.content-section{
    padding: 5% 3%;
    border: 2px solid #E9ECEE;
}
footer{
    background: #3B4045;
}