body{
    background: #F3F5F7;
}
.navbar{
    min-height: 95px;
    border: 1px solid #E9ECEE;
}
.heading{
    font-family: Open Sans Condensed,Helvetica,sans-serif;
    font-weight: normal;
    color: #183247;
}
.nav-tabs{
    min-height: 25px;
    border-bottom: 2px solid #E9ECEE;
    margin-bottom: 25px;
}
.content-section{
    padding: 5.5% 2.5%;
    border: 2px solid #E9ECEE;
    margin-bottom: 25px;
}
footer{
    background: #3B4045;
}