{% extends "users/base.html" %}
{% block content %}
    <div class = "card">
        <div class="card-header">
            <h2 class="heading ">Patients</h2>
        </div>
        <div class="card-body">
            <table style="..." class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.id }}</td>
                            <td>{{ patient.first_name }}</td>
                            <td>{{ patient.last_name }}</td>
                            <td>{{ patient.email }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{% url 'patient-update' patient.id %}">Update</a>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
                                <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledBy="fm-modal-grid" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title heading">Delete Patient</h5>
                                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6">
                                                            <p>Are you sure you want to delete patient {{patient.first_name}}?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <form action="{% url 'patient-delete' patient.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}