{% extends "users/base.html" %}
{% block content %}
    <div class = "card">
        <div class="card-header">
            <h2 class="heading ">Patients</h2>
        </div>
        <div class="card-body">
            <table style="..." class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.id }}</td>
                            <td>{{ patient.first_name }}</td>
                            <td>{{ patient.last_name }}</td>
                            <td>{{ patient.email }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{% url 'patient-update' patient.id %}">Update</a>
                                <a class="btn btn-danger" href="{% url 'patient-delete' patient.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}